mixin authorImage(article, size, extraClass)
  - var author = contents.authors[article.metadata.author + '.json']
  span.author
    if author && author.metadata.avatarHash
      a(href=article.url)
        img.author(class= extraClass, src="https://s.gravatar.com/avatar/" + author.metadata.avatarHash + "?s=" + size)   
    else
      a(href=article.url)
        img.author(class= extraClass, src="https://s.gravatar.com/avatar/ca636fa7abddf2efed4bb3ea5931f28f.jpg?s=" + size)
