mixin authorImage(article)
  - var author = contents.authors[article.metadata.author + '.json']
  span.author
    if author
      a(href=article.url)
        img.author(src="https://s.gravatar.com/avatar/" + author.metadata.avatarHash + "?s=100")   
    else
      a(href=article.url)
        img.author(src="https://s.gravatar.com/avatar/?s=100")
